@page "/"
@namespace ConcertTracker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConcertTracker</title>
    <base href="~/" />
    <link href="_content/Radzen.Blazor/css/default-base.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/mycss/style.css" />
    <link href="~/css/mycss/search.css" rel="stylesheet" />
    <link href="~/css/mycss/profile.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>
