@page "/about"

<body>
    <div class="firstPage">
        <a href="" class="mainText">ConcertTracker</a>
        <div class="aboutText">
            <p class="aboutPageFirstCommonText">
                ConcertTracker is the best assistant in choosing a performance.
            </p>
            <p class="aboutPageFirstCommonText">
                Browse the map and look for the performers you are interested in.
            </p>
        </div>

        <img class="aboutMainImage" src="./Images/ManWithAGuitar.png" alt="" />
        <img class="earthIconAboutPage" src="./Images/EarthIcon.svg" alt="" />
    </div>
    <div class="secondPage">
        <p class="mainText">
            How to use
        </p>
        <div class="aboutContent">
            <div class="aboutSecondPageInfo">
                <div class="leftInfo">
                    <p class="aboutSecondPageLeftText">
                        Search for performances on the map near your home.
                        <br /><br />
                        To view information about the concert, just click on
                        the marker you are interested in.
                    </p>
                    <img class="mapAboutImage" src="./Images/MapImage.png" alt="" />
                </div>
                <div class="line"></div>
                <div class="leftInfo">
                    <p class="aboutSecondPageLeftText">
                        Announce your concerts to the world just as easily.
                        <br /><br />
                        To do this, just put a marker on the map and fill in some
                        information about your performance.
                    </p>
                    <img class="mapAboutImage" src="./Images/MapImage.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="thirdPage">
        <p class="mainText">Why us?</p>
        <img src="./Images/StreetConcert.png" alt="" class="streetConcert" />
        <p class="thirdPageText">
            On our web-site, any artist can announce their concert.
            <br /><br />
            You can easily choose a performance to your taste and whenever you want.
        </p>
        <div class="links">
            <h2>
                Social networks:
            </h2>
            <ul class="imgLinks">
                <li><img src="./Images/instagram.svg" alt="" /></li>
                <li><img src="./Images/vk.svg" alt="" /></li>
                <li><img src="./Images/whatsapp.svg" alt="" /></li>
            </ul>
        </div>
    </div>
</body>