@page "/about"

<body>
    <div class="firstPage">
        <a href="" class="mainText">ConcertTracker</a>
        <div class="aboutText">
            <p class="aboutPageFirstCommonText">
                ConcertTracker - лучший помощник в выборе выступления.
            </p>
            <p class="aboutPageFirstCommonText">
                Просматривайте карту и ищите интересующих Вас исполнителей.
            </p>
        </div>

        <img class="aboutMainImage" src="./Images/ManWithAGuitar.png" alt="" />
        <img class="earthIconAboutPage" src="./Images/EarthIcon.svg" alt="" />
    </div>
    <div class="secondPage">
        <p class="mainText">Как пользоваться</p>
        <div class="aboutContent">
            <div class="aboutSecondPageInfo">
                <div class="leftInfo">
                    <p class="aboutSecondPageLeftText">
                        Осуществляйте поиск выступлений на карте рядом со своим домом.
                        <br /><br />
                        Для просмотра информации о концерте, просто щёлкните на
                        заинтересовавший Вас маркер.
                    </p>
                    <img class="mapAboutImage" src="./Images/MapImage.png" alt="" />
                </div>
                <div class="line"></div>
                <div class="leftInfo">
                    <p class="aboutSecondPageLeftText">
                        Так же легко объявляйте о своих концертах всему миру.
                        <br /><br />
                        Для этого просто поставьте маркер на карте и заполните некоторые
                        данные о своём выступлении.
                    </p>
                    <img class="mapAboutImage" src="./Images/MapImage.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="thirdPage">
        <p class="mainText">Почему именно мы?</p>
        <img src="./Images/StreetConcert.png" alt="" class="streetConcert" />
        <p class="thirdPageText">
            На нашем сайте любой артист может объявить о своём концерте.
            <br /><br />
            Вы с лёгкостью сможете подобрать выступление на Ваш вкус и когда угодно.
        </p>
        <div class="links">
            <h2>Соцсети:</h2>
            <ul class="imgLinks">
                <li><img src="./Images/instagram.svg" alt="" /></li>
                <li><img src="./Images/vk.svg" alt="" /></li>
                <li><img src="./Images/whatsapp.svg" alt="" /></li>
            </ul>
        </div>
    </div>
</body>