@page "/registration"

@using ConcertTracker.ViewModels
@using ConcertTracker.Authentication

@inject IAuth auth

<div class="raw">
    <div class="col-md-6 offset-md-3">
        <h2>Регистрация нового пользователя</h2>
        <EditForm Model="@user" OnValidSubmit="@InsertUser">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="eMail" @bind-Value="user.Email" />
            <InputText id="description" @bind-Value="user.Description" />
            <InputText id="pass" @bind-Value="user.Password" />
            <InputText id="passConfirm" @bind-Value="user.PasswordConfirm" />
            <p class="my-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
            
        </EditForm>
    </div>
</div>



@code {
    RegisterViewModel user = new RegisterViewModel();
    private async Task InsertUser()
    {
        await auth.Register(user);
    }
}